/* LEVELS */
.levelsContainer {
    display: flex;
    background-color: var(--light-grey-color);
    padding: 20px;
    margin-bottom: 40px;
  }
  
  .headingLevels {
    margin: 0;
  }
  /* END LEVELS */